<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); }


    </script>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,100i,300,300i,400,400i,500,500i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i"
          rel="stylesheet">
    <title> {% block title %}{% endblock %}</title>


    {% block head %}
    {% endblock %}

    {% include 'snippets/css.html' %}
    {% include 'snippets/js.html' %}

</head>
<body>
<div class="nav-links">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><h1>Campus USV</h1></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav link-effect">
                    <li class="active"><a href="{% url 'web_page:home_page' %}">Home</a></li>
                    {% block add-nav %}
                    {% endblock %}
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'web_page:user_profile' %}"><span class="glyphicon glyphicon-user"></span>
                            {{ user.get_username }}</a>
                    </li>
                    <li>
                        <a href="{% url 'web_page:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Log out</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>
{% block content %}{% endblock %}
{% block script %}{% endblock %}
</body>
</html>