{% extends 'base.html' %}
{% load static %}
{% block head %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">-->
{% endblock %}

{% block title %}Application{% endblock %}
{% block add-nav %}
{% endblock %}
{% block content %}
<br>
<br>
<br>

<div class='row'>
    <div class="about-agileits-title">
        <h3>
            {% if instance %}
            <center> Edit FAQ</center>
            {% else %}
            <center> Create FAQ</center>
            {% endif %}
        </h3>
    </div>
    <div class="col-sm-4 col-md-offset-4 text-left">
        <hr>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <input type="submit" class="btn btn-primary pull-right" value="Submit"/>
        </form>
        <hr>
    </div>
</div>

{% endblock content %}