{% extends 'base.html' %}
{% load static %}
{% block head %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">-->
{% endblock %}

{% block title %}Application{% endblock %}
{% block add-nav %}
{% endblock %}
{% block content %}
<br>
<br>
<br>

<div class='row'>

    <h1>
        <center>Cerere student reprezentant</center>
    </h1>
    <hr>
    <div class="col-sm-6 text-left">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Submit"/>
        </form>
        <hr>
    </div>
</div>

{% endblock content %}