{% extends 'base.html' %}
{% load static %}
{% block head %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">-->
{% endblock %}

{% block title %}Application{% endblock %}
{% block add-nav %}
<li><a href=""><span class="glyphicon glyphicon-user"></span> Web Page</a></li></li>
{% endblock %}
{% block content %}
<br>
<br>
<br>

<div class='row'>


    <h1>
        <center> Detalii aplicant</center>
    </h1>
    <hr>
    <div class="col-sm-6 text-left">
        <strong>
            Nume student: {{ object.first_name }} {{ object.last_name}} <br>
            Email: {{ object.email }} <br>
            Data nasterii: {{ object.birth_date }} <br>
            Tip studii:{{ object.study_type }} <br>
            Facultate: {{ object.faculty}}<br>
            Specializare: {{ object.specialization }}<br>
            Anul de studiu: {{ object.year_of_study }}<br>
            Motivatie {{ object.motivation }}<br>
            {% if object.is_accepted is False %}
            Respins / In asteptare
            {% endif %}
        </strong>
        <hr>
        <a href="{% url 'web_page:response_application' object.id 1 %}">
            <button type="button" class="btn btn-primary">Accepta</button>
        </a>
        <a href="{% url 'web_page:response_application' object.id 0 %}">
            <button type="button" class="btn btn-danger">Respinge</button>
        </a>
    </div>
</div>

{% endblock content %}