{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/aplicant_details.css' %}">
{% endblock %}

{% block title %}Application{% endblock %}
{% block add-nav %}
<li><a href="{% url 'web_page:list_applicants' %}">Lista aplicanti</a></li>
{% endblock %}
{% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="row profile">
        <div class="col-md-12 ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="about-agileits-title">
                        <h3>Detalii aplicant</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="box box-info">
                        <div class="box-body">
                            <div class="col-md-4">
                                <div class="profile-sidebar">
                                    <div>
                                        <img src="{{object.avatar.url}}"
                                             class="img-responsive" alt="">
                                    </div>
                                    <div class="profile-usertitle">
                                        <div class="profile-usertitle-name">
                                            {{ object.first_name }} {{ object.last_name}}
                                        </div>
                                        <div class="profile-usertitle-job">
                                            {{ object.email }}
                                        </div>
                                    </div>
                                    <div class="profile-userbuttons">
                                        {% if object.status == '0' %}
                                        <a href="{% url 'web_page:response_application' object.id 1 %}">
                                            <button type="button" class="btn btn-primary">Accepta</button>
                                        </a>
                                        <a href="{% url 'web_page:response_application' object.id 0 %}">
                                            <button type="button" class="btn btn-danger">Respinge</button>
                                        </a>
                                        {% else %}
                                        <a href="{% url 'web_page:response_application' object.id 1 %}">
                                            <button type="button" class="btn btn-primary">Accepta</button>
                                        </a>
                                        {% endif %}
                                    </div>
                                    <div class="profile-usermenu">
                                        <ul class="nav">
                                            <li class="active">
                                                <a href="#">
                                                    {% if object.get_status_display == 'wait' %}
                                                    <i class="glyphicon glyphicon-time"></i>
                                                    {{ object.get_status_display }}
                                                    {% else %}
                                                    <i class="glyphicon glyphicon-thumbs-down"></i>
                                                    {{ object.get_status_display }}
                                                    {% endif %}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="glyphicon glyphicon-map-marker"></i>
                                                    {{object.get_address}} </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="glyphicon glyphicon-gift"></i>
                                                    {{ object.birth_date|date:'d-m-Y' }} </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="glyphicon glyphicon-flag"></i>
                                                    {{ object.nationality }} </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" align="center">
                                <div class="profile-content">
                                    <strong>
                                        <ul class="nav">
                                            <li>
                                                <a href="#">
                                                    Tip studii: {{ object.get_study_type_display }}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Facultate: {{ object.faculty}}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Specializare: {{ object.specialization }}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Anul de studiu: {{ object.get_year_of_study_display }}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Motivatie: {{ object.motivation }}
                                                </a>
                                            </li>
                                        </ul>
                                    </strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}