{% extends 'base.html' %}
{% block title %}Developers{% endblock %}
{% block add-nav %}
{% endblock %}
{% block content %}
<br>
<br>
<br>

<div class='row'>

        <h1>
            <center>Prezentare Echipa</center>
        </h1>
        <br>
        <h3>Tema : Un site/secțiune platformă web cu întrebări și răspunsuri puse frecvent secretariatului </h3>
        <hr>
        <h2>Echipa:</h2>
        <ul>
            <li>
        <p> Bucurel Adriana </p><br>
        <img src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-9/21616166_1449214425126467_39932434587064740_n.jpg?_nc_cat=0&oh=b89d5ef38d57d56a08cb1e48ba7c37dc&oe=5B2C34FC"
             width="200px" height="200px">

    </li>
    <li>
        <p> Cazacu Beniamin </p><br>
        <img src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-9/22281864_1453933038017666_2952004577045534443_n.jpg?oh=1e3c1a3961c81d5a6b4131bc56d7c9d4&oe=5B2D9DD4"
             width="200px" height="200px">

    </li>
    <li>
        <p> Cnapic Alexandra </p><br>
        <img src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-9/14457520_1302230523199345_4034021087952626530_n.jpg?oh=ee9d7b804f0a55189ca0deeced606ea1&oe=5B3F8DDE"
             width="200px" height="200px">

    </li>
     <li>
        <p> Hreniuc Georgiana </p><br>
        <img src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-9/14457520_1302230523199345_4034021087952626530_n.jpg?oh=ee9d7b804f0a55189ca0deeced606ea1&oe=5B3F8DDE"
             width="200px" height="200px">

    </li>
     <li>
        <p> Traciu Andrei </p><br>
        <img src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-9/14457520_1302230523199345_4034021087952626530_n.jpg?oh=ee9d7b804f0a55189ca0deeced606ea1&oe=5B3F8DDE"
             width="200px" height="200px">

    </li>
        </ul>


</div>

{% endblock content %}