{% extends 'base.html' %}
{% block title %}Developers{% endblock %}
{% block add-nav %}
{% endblock %}
{% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="about-agileits-title">
                        <h3>Detalii developeri</h3>
                    </div>
                </div>
                <h3>
                    <center>Tema : Un site/secțiune platformă web cu întrebări și răspunsuri puse frecvent
                        secretariatului
                    </center>
                </h3>
                <hr>
                <div class="panel-body">
                    <div class="box box-info">
                        <div class="box-body">
                            <ul class="thumbnails">
                                <div class="thumbnail clearfix">
                                    <div class="col-sm-3">
                                        <img src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-9/22281864_1453933038017666_2952004577045534443_n.jpg?oh=1e3c1a3961c81d5a6b4131bc56d7c9d4&oe=5B2D9DD4"
                                             alt="ALT NAME"
                                             class="pull-left span2 clearfix"
                                             style='margin-right:10px; margin-top:23px;'>
                                    </div>
                                    <div class="caption" class="pull-left">
                                        <div class="col-sm-6">
                                            <ul class="nav">
                                                <li>
                                                    <a href="#">
                                                        <i class="glyphicon glyphicon-user"></i>
                                                        Bucurel Adriana </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="glyphicon glyphicon-envelope"></i>
                                                        adriana.bucurel2@student.usv.ro </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="glyphicon glyphicon-briefcase"></i>
                                                       Software Developer </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="glyphicon glyphicon-map-marker"></i>
                                                        Romania, Suceava </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="glyphicon glyphicon-gift"></i>
                                                        17.10.1995 </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.facebook.com/AnairdaBucurel">
                                                        <i class="glyphicon glyphicon-globe"></i>
                                                        facebook </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="glyphicon glyphicon-pushpin"></i>
                                                        backend, fronted, testing </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnail clearfix">
                                    <div class="col-sm-3">
                                        <img src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-9/14457520_1302230523199345_4034021087952626530_n.jpg?oh=ee9d7b804f0a55189ca0deeced606ea1&oe=5B3F8DDE"
                                             alt="ALT NAME"
                                             class="pull-left span2 clearfix"
                                             style='margin-right:10px; margin-top:23px;'>
                                    </div>
                                    <div class="caption" class="pull-left">
                                        <div class="col-sm-6">
                                            <ul class="nav">
                                                <li>
                                                    <a href="#">
                                                        <i class="glyphicon glyphicon-user"></i>
                                                       Hreniuc Georgiana</a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="glyphicon glyphicon-envelope"></i>
                                                       georgiana.hreniuc3@student.usv.ro </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="glyphicon glyphicon-briefcase"></i>
                                                        Software Developer </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="glyphicon glyphicon-map-marker"></i>
                                                        Romania, Suceava, Milisauti </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="glyphicon glyphicon-gift"></i>
                                                        8.04.1996 </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.facebook.com/georgiana.hreniuc.1">
                                                        <i class="glyphicon glyphicon-globe"></i>
                                                        facebook </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="glyphicon glyphicon-pushpin"></i>
                                                        backend, fronted, testing </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnail clearfix">
                                    <div class="col-sm-3">
                                        <img src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-9/21616166_1449214425126467_39932434587064740_n.jpg?_nc_cat=0&oh=b89d5ef38d57d56a08cb1e48ba7c37dc&oe=5B2C34FC"
                                             alt="ALT NAME"
                                             class="pull-left span2 clearfix"
                                             style='margin-right:10px; margin-top:23px;'>
                                    </div>
                                    <div class="caption" class="pull-left">
                                        <div class="col-sm-6">
                                            <ul class="nav">
                                                <li>
                                                    <a href="#">
                                                        <i class="glyphicon glyphicon-user"></i>
                                                        Cnapic Alexandra Ionela </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="glyphicon glyphicon-envelope"></i>
                                                       ionela.cnapic@student.usv.ro </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="glyphicon glyphicon-briefcase"></i>
                                                        Software Developer </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="glyphicon glyphicon-map-marker"></i>
                                                        Romania, Suceava, Falticeni </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="glyphicon glyphicon-gift"></i>
                                                        23.08.1997 </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.facebook.com/alexandra.cnapic">
                                                        <i class="glyphicon glyphicon-globe"></i>
                                                        facebook </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="glyphicon glyphicon-pushpin"></i>
                                                        reponsabil proiect, backend, fronted, testing </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                                     <div class="thumbnail clearfix">
                                    <div class="col-sm-3">
                                        <img src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-9/14457520_1302230523199345_4034021087952626530_n.jpg?oh=ee9d7b804f0a55189ca0deeced606ea1&oe=5B3F8DDE"
                                             alt="ALT NAME"
                                             class="pull-left span2 clearfix"
                                             style='margin-right:10px; margin-top:23px;'>
                                    </div>
                                    <div class="caption" class="pull-left">
                                        <div class="col-sm-6">
                                            <ul class="nav">
                                                <li>
                                                    <a href="#">
                                                        <i class="glyphicon glyphicon-user"></i>
                                                      Beniamin Cazacu</a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="glyphicon glyphicon-envelope"></i>
                                                       beniamin.cazacu3@student.usv.ro </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="glyphicon glyphicon-briefcase"></i>
                                                        Software Developer </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="glyphicon glyphicon-map-marker"></i>
                                                        Romania, Suceava </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="glyphicon glyphicon-gift"></i>
                                                        8.04.1996 </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.facebook.com/profile.php?id=100007856448046">
                                                        <i class="glyphicon glyphicon-globe"></i>
                                                        facebook </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="glyphicon glyphicon-pushpin"></i>
                                                        backend, fronted, testing </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>



                                     <div class="thumbnail clearfix">
                                    <div class="col-sm-3">
                                        <img src="https://scontent-otp1-1.xx.fbcdn.net/v/t1.0-9/14457520_1302230523199345_4034021087952626530_n.jpg?oh=ee9d7b804f0a55189ca0deeced606ea1&oe=5B3F8DDE"
                                             alt="ALT NAME"
                                             class="pull-left span2 clearfix"
                                             style='margin-right:10px; margin-top:23px;'>
                                    </div>
                                    <div class="caption" class="pull-left">
                                        <div class="col-sm-6">
                                            <ul class="nav">
                                                <li>
                                                    <a href="#">
                                                        <i class="glyphicon glyphicon-user"></i>
                                                       Traciu Andrei</a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="glyphicon glyphicon-envelope"></i>
                                                       andrei.traciu3@student.usv.ro </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="glyphicon glyphicon-briefcase"></i>
                                                        Software Developer </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="glyphicon glyphicon-map-marker"></i>
                                                        Romania, Suceava </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="glyphicon glyphicon-gift"></i>
                                                        1.11.1994 </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.facebook.com/traciu.andrei">
                                                        <i class="glyphicon glyphicon-globe"></i>
                                                        facebook </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <i class="glyphicon glyphicon-pushpin"></i>
                                                        backend, fronted, testing </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock content %}