{% extends 'base.html' %}
{% load static %}
{% block head %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">-->
{% endblock %}

{% block title %}Application{% endblock %}
{% block add-nav %}
<li><a href="{% url 'web_page:home_page' %}"><span class="glyphicon glyphicon-home"></span> Web Page</a></li></li>
{% endblock %}
{% block content %}
<br>
<br>
<br>

<div class='row'>


    <h1>
        <center> List FAQ category</center>
    </h1>
    <hr>
    <div class="col-sm-8 text-left">
        <ol>
            {% for obj in object_list %}
            <li>
                <a href='{{ obj.get_absolute_url }}'> {{ obj.name }} </a><br/>
            </li>
            <hr>
            {% empty %}
            {% endfor %}
        </ol>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li
                    {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <hr>
</div>

{% endblock content %}