{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/user_profile.css' %}">
{% endblock %}

{% block title %}Application{% endblock %}
{% block add-nav %}
{% endblock %}
{% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12 ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="about-agileits-title">
                        <h3>User Profile</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="box box-info">
                        <div class="box-body">
                            <div class="col-sm-6">
                                <div align="center">

                                    <a href="{% url 'web_page:edit_user_photo_profile' %}" id="profile-image-upload">
                                        {% if object.profile.avatar %}
                                        <img alt="User Pic"
                                             src="{{object.profile.avatar.url}}"
                                             id="profile-image1" class="img-circle img-responsive">
                                        {% else %}

                                        <img alt="User Pic"
                                             src="{% static 'media/avatar/original.jpg' %}"
                                             id="profile-image" class="img-circle img-responsive"
                                             width="150px;" height="150px;">
                                        {% endif %}
                                    </a>
                                    <div style="color:#999;">click here to change profile image</div>
                                </div>
                                <br>
                                <!-- /input-group -->
                            </div>
                            <div class="col-sm-6">
                                <h4 style="color:#00b1b1;">{{object.get_full_name}}</h4></span>
                                <small><cite title="San Francisco, USA"> {{ object.profile.get_address }} <i
                                        class="glyphicon glyphicon-map-marker">
                                </i></cite></small>
                                <p>
                                    <i class="glyphicon glyphicon-envelope"></i> {{object.email}}
                                    <br/>
                                    <i class="glyphicon glyphicon-gift"></i> {{object.profile.birth_date|date:'d-m-Y' }}
                                </p>
                                <a href="{% url 'web_page:edit_user_profile' %}"
                                   class="btn btn-primary a-btn-slide-text">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                    <span><strong>Edit profile</strong></span>
                                </a>
                                <a href="{% url 'web_page:change_password' %}"
                                   class="btn btn-primary a-btn-slide-text">
                                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                                    <span><strong>Change password</strong></span>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                            <hr style="margin:5px 0 5px 0;">

                            <div class="col-sm-5 col-xs-6 tital ">Tara:</div>
                            <div class="col-sm-7"> {{object.profile.country}}</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">Judetul:</div>
                            <div class="col-sm-7"> {{object.profile.county}}</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">Orasul:</div>
                            <div class="col-sm-7"> {{object.profile.city}}</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">Nationalitate:</div>
                            <div class="col-sm-7"> {{object.profile.nationality}}</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">Tip studiu:</div>
                            <div class="col-sm-7"> {{object.profile.get_study_type_display}}</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">Facultate:</div>
                            <div class="col-sm-7"> {{object.profile.faculty}}</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">Specializare:</div>
                            <div class="col-sm-7"> {{object.profile.specialization}}</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">An de studiu:</div>
                            <div class="col-sm-7"> {{object.profile.get_year_of_study_display}}</div>
                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                            <div class="col-sm-5 col-xs-6 tital ">Data inregistrarii:</div>
                            <div class="col-sm-7">{{object.date_joined|date:'d-m-Y'}}</div>

                            <div class="clearfix"></div>
                            <div class="bot-border"></div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(function() {
    $('#profile-image1').on('click', function() {
        $('#profile-image-upload').click();
    });
});











</script>
{% endblock content %}